* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #287ae7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #287ae7;
}

.card {
  background-color: #eaf2fd;
  width: 28rem;
  padding: 1rem;
}

.close {
  color: #9da4bc;
  text-align: end;
}
